.main {
  display: flex;
}
.arrowIcon {
  padding-top: 50px;
  color: black;
  cursor: pointer;
}
.title {
  padding-top: 25px;
  color: black;
}
.sidebars {
  height: 100vh;
  font-weight: 700;
  background-color: transparent;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.sidebar {
  background-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}
.menu {
  padding-top: 50px;
}
.mainIcon {
  color: #7393b3;
}

.mainContent {
  width: 100%;
  overflow-y: scroll;
}
.subMenuItem {
  background-color: black;
}
.subMenuItem :hover {
  background-color: gray;
}


@media (max-width: 767px) {
  .mainContent{
    margin-left: 80px;
  }
}