body {
    background-color: #000;
}
.eventsPageContainer {
    background-image: url("/marquee.jpeg"); 
    height: 1100px;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .2;
    

}
.title{
    font-size: 36px;
    font-weight: 700;
    padding: 400px 0 0 0;
}