.chatsContainer {
    display: grid;
    grid-template-columns: .25fr 1fr;
    grid-template-rows: 1fr;
    
    
    
    height: 600px;
}
.leftContainer {
    grid-column: 1/2;
    padding: 50px 0 0 0;
    border-right: 1px solid black;
}
.rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
}
.title {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}