.container {
    display: grid;
    grid-template-rows: .5fr 1fr .5fr 1fr .5fr;
    grid-template-columns: .5fr 1fr .5fr 1fr .5fr 1fr .5fr;
    background-color: black;
    height: 400px;
}
.event1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: white;
    border-radius: 12px;
}
.event2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    grid-row: 2/3;
    grid-column:4/5;
    background-color: white;
    border-radius: 12px;
}
.event3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    grid-row: 2/3;
    grid-column:6/7;
    background-color: white;
    border-radius: 12px;
}

.eventText1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    grid-row: 4/5;
    grid-column:2/3;
    
    border-radius: 12px;
}

.eventText2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    grid-row: 4/5;
    grid-column:4/5;
    
    border-radius: 12px;
}

.eventText3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    grid-row: 4/5;
    grid-column:6/7;
    
    border-radius: 12px;
}
.text {
    font-weight: 700;
    color: white;
    margin: 0 30px 0 30px;
}