/* .main {
  display: flex;
} */
.arrowIcon {
  padding-top: 50px;
  color: white;
  cursor: pointer;
}
.title {
  padding-top: 25px;
  color: white;
  
}
.title a{
  color: white;
  text-decoration: none;
}

.notCollapsed {
  margin-left: 250px;
}
.collapsed {
  margin-left: 80px;
}
.sidebar {
  color: white;
  position:relative;
  font-weight: 700;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menuItem :hover {

  background-color: red;
}
.menu {
  padding-top: 50px;
}
.mainIcon {
  color: #7393b3;
}

.mainContent {
  width: 100%;
  overflow-y: scroll;
}
.subMenuItem {
  background-color: black;
}


@media (max-width: 767px) {
  .mainContent{
    margin-left: 80px;
  }
}